@model IEnumerable<waMVCDay12.Models.FAKULTAS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "AddFakultas")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FAKULTAS_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KODE_FAKULTAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAMA_FAKULTAS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FAKULTAS_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KODE_FAKULTAS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAMA_FAKULTAS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FAKULTAS_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.FAKULTAS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FAKULTAS_ID })
        </td>
    </tr>
}

</table>
